{{ define "main" }}
  <main role="main">
    <div class="content">
      <h1 class="content__title">{{ .Title }}</h1>
    </div>
    <div class="content__links">
      {{ partial "back.html" "/" }}
      {{ partial "share-button.html" .Permalink }}
    </div>
    <section class="grid">
      {{ range .Pages.ByDate.Reverse }}
        <figure>
          <a href="{{ .Permalink }}" class="image-link">
            {{ $sizes := slice 58 115 230 345 460 690 }}
            {{ $args := dict "resources" .Resources "match" "*image.jpg" "sizes" $sizes "maxWidth" 230 }}
            {{ $args = merge $args (dict "square" true "alt" .Params.title "class" "image-link__image") }}
            {{ partial "image.html" $args }}
            <figcaption class="image-link__caption">
              {{ .Params.title }}
            </figcaption>
          </a>
        </figure>
      {{ end }}
    </section>
  </main>
{{ end }}
