{{ define "main" }}
  <main class="single" role="main">
    <h1 class="single__title">{{ .Title }}</h1>
    <div class="single__links">
      {{ partial "back.html" ".." }}
      {{ partial "share-button.html" .Permalink }}
    </div>
    <figure class="single__figure">
      {{ $sizes := slice 250 500 1000 1500 2000 }}
      {{ $args := dict "resources" .Resources "match" "*image.jpg" "sizes" $sizes "maxWidth" 1000 "alt" .Title }}
      {{ partial "image.html" $args }}
      <figcaption class="single__caption">
        {{ $dashClass := "" }}
        {{ if ne .Content "" }}
          {{ $dashClass = "single__pubdate--needs-dash" }}
        {{ end }}
        <time dateTime={{ .Params.date }} class="single__pubdate {{ $dashClass }}">
          {{ .Params.date.Format "2006/01/02 15:04:05"}}
        </time>
        {{- .Content -}}
      </figcaption>
    </figure>
    {{ partial "image-nav.html" . }}
  </main>
{{ end }}
