.header {
  margin-bottom: 1rem;
  background-color: black;
  border-bottom: 1px solid #333;
}

.header__title {
  display: block;
  padding: 1rem 0.5rem; /* 8 / 16 */
  margin: 0 auto;
  max-width: var(--content-max-width);
  font-size: 0.75rem; /* 12 / 16 */
  user-select: none;
}

.header__link {
  text-decoration: none;
  color: var(--color-bright);
}

.header__link:hover,
.header__link:focus {
  color: var(--color-light-blue);
}
