<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
  <head>
    {{ block "htmlhead" .}}{{ partial "htmlhead.html" . }}{{ end }}
  </head>
  <body>
    <div class="container">
      {{ block "header" . }}{{ partial "header.html" . }}{{ end }}

      {{ $mainContentClassModifier := "" }}
      {{ if .Page.IsHome }}
        {{ $mainContentClassModifier = "container--has-aside" }}
      {{ end }}
      <div class="container__inner {{ $mainContentClassModifier }}" id="main-content">
        {{ block "main" . }}{{ end }}
      </div>
      {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
    </div>
    {{ block "scripts" . }}{{ partial "scripts.html" . }}{{ end }}
  </body>
</html>
