<footer role="contentinfo" class="footer">
  <div class="footer__wrap">
    <div class="footer__inner">
      <span class="footer__item">&copy; {{ now.Format "2006" }} {{ .Site.Title }}</span>
      <span class="footer__item">
        <nav class="footer__nav">
          <a href="/imprint/">Imprint</a>
        </nav>
      </span>
      <span class="footer__item">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/herschel666/photoblog/"
        >
          View source on GitHub
        </a>
      </span>
    </div>
    <div class="footer__inner">
      <a
        href="https://github.com/herschel666"
        rel="me authn"
        class="footer__icon"
      >
        <span class="h-visually-hidden">Github profile of Emanuel Kluge</span>
        {{ partial "icon.html" (dict "folder" "brands" "name" "github") }}
      </a>
      <a class="footer__icon" rel="me" href="https://mastodon.social/@herschel_r">
        <span class="h-visually-hidden">Mastodon profile of Emanuel Kluge</span>
        {{ partial "icon.html" (dict "folder" "brands" "name" "mastodon") }}
      </a>
      <a
        href="https://twitter.com/herschel_r"
        rel="me"
        class="footer__icon"
      >
        <span class="h-visually-hidden">twitter profile of Emanuel Kluge</span>
        {{ partial "icon.html" (dict "folder" "brands" "name" "twitter") }}
      </a>
    </div>
  </div>
</footer>
