:root {
  --color-dark-grey: #222;
  --color-medium-dark-grey: #444;
  --color-blue: #2f9bff;
  --color-light-blue: #aed8ff;
  --color-greyish: #e0e0e0;
  --color-bright: #f9f9f9;
  --content-max-width: 1000px;
}
